In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

In [ ]:
car == 'bmw'
car == 'toyota'

In [ ]:
car = 'AUdi'
car.lower() == 'audi'

In [ ]:
age_0 = 19
age_1 = 20
print(age_0 == age_1)
print(age_0 >= 19 and age_1 >= 20)
print(age_0 >= 20 or age_1 >= 20)

In [12]:
requested_topping = ['mushroom', 'onion', 'pineapple']
T = [r for r in requested_topping]
'mushroom' in T
a = 'banana'
a not in T

False